# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Rolf Christian Jørgensen
	email = rcj@siteimprove.com
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
